@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background: #eee;
    --foreground: #333;
    --font-color: var(--foreground);
    --background-color: var(--background);
    --link-color: cornflowerblue;
    /* --font-color: #171717; */
    /* --background: #ffffff;
    --foreground: #171717; */
}

[data-theme="dark"] {
    --font-color: #eee;
    --background-color: #333;
    --link-color: lightblue;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #0a0a0a;
        --foreground: #ededed;
    }
}

body {
    background-color: var(--background-color);
    color: var(--font-color);
    /* color: var(--foreground);
    background: var(--background); */
    font-family: Helvetica, Arial, sans-serif;
}

a {
    color: var(--link-color);
}

.site-container {
    padding: 2rem 1.5rem;
}

.main-container {
    background-color: var(--background);
    /* height: 100vh; */
}

.home-container {
    background-color: var(--background);
    height: 100vh;
    margin: 2rem;
}

.menu-container {
    background: var(--background);
    padding: 2rem 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.menu-header-container {
    display: flex;
    justify-content: end;
}

.navbar-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;

    .location-container {
        border: 1px blue solid;
    }
}

.menu-links-container {
    & ul {
        font-size: 2rem;
        font-weight: 500;

        & li {
            padding: 1rem 0;
        }

        & li:first-of-type {
            padding-top: 0;
        }

        & li:last-of-type {
            padding-bottom: 0;
        }
    }
}

.menu-footer-container {
    padding-bottom: 1rem;
}

.footer-menu-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.welcome-container h1 {
    text-transform: uppercase;
    font-weight: 600;
    border: 1px red solid;

    span {
        font-size: 4rem;
    }

    .welcome-name {
        display: flex;
        justify-content: start;
    }

    .welcome-lastname {
        display: flex;
        justify-content: end;
    }
}

.button-link {
    border-bottom: 2px var(--foreground) solid;
    font-weight: 500;
    padding-bottom: .5rem;
    cursor: pointer;
}

.header-container {
    
}

.main-container {
    
}

.footer-container {
    
}